{
  admin off
  persist_config off
  auto_https off
  log {
    format json
  }
  servers {
    trusted_proxies static private_ranges 100.0.0.0/8
  }
}

:{$PORT:3000} {
  log {
    format json
  }

  encode gzip

  header {
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "strict-origin-when-cross-origin"
  }

  handle /health {
    respond "ok" 200
  }

  handle_path /api/* {
    reverse_proxy {$ZJOBS_API_PRIVATE_URL:http://localhost:4000}
  }

  root * /srv
  file_server
  try_files {path} /index.html
}
